
/***** Admin-Page Style Css *****/ 

@import url(index.css);
@import "tailwindcss";

 @layer base {
   :root{
     --font-poppins: "Poppins", sans-serif;
     --font-roboto:  "Gabarito", sans-serif;
     --font-lexend: "Lexend", sans-serif;
     --font-montserrat: "Montserrat", sans-serif;
     --spotify-green:   #1DB954;
     --spotify-black:   #191414;
     --spotify-dark:    #121212;
     --spotify-gray:    #828282;
     --spotify-white:   #ffffff;
   }
   
   body{
     color: var(--spotify-white);
     font-family: var(--font-montserrat);
     text-transform: capitalize;
     width: 100%;
   }
  }

  @layer components{
    .body-sc{
      @apply bg-slate-500 min-h-[100vh] w-full;
    }
  }

/***** End Admin-Page Style Css *****/